/* style.css */
header {
    display: flex;
    align-items: center;
    background-color: #003087;
    padding: 10px;
}

header > * {
    margin-right: 20px;
    color: white;
}

/* style.css */
#user-profile {
    background-color: #1a1a1a;
    padding: 20px;
    color: white;
}

.user-avatar img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.username {
    font-size: 1.5em;
}

.user-status {
    color: #4CAF50; /* Online status color */
}
